.content {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.s-left {
    /*background-color: #8f75da;主调色*/
    background: linear-gradient(135deg,#8f75da 0,#727cf5 60%);
}

.s-logo {
    font-size: 22px;
}

.s-menu {
    color: #cec5eb;
    font-size: 18px;
}

.s-menu > div {
    padding: 0.5em 0;
    position: relative;
}
.s-menu > div > i{
    position: absolute;
    right: 25px;
}
.s-menu > div:hover{
    color: #fff;
    cursor:pointer;/*光标变手*/
}
div.j-selection{
    color: #fff;
}
.s-head{
    height: 60px;
}
.s-head > span{
    line-height: 3.5em;
    font-size: 18px;
    font-weight: 600;
    color: #6c757d;
}
.s-content{
    background-color: #eaecee91;
    margin: 0 -15px;
    height: 90%;
    padding: 10px 30px 0 ;
}
.s-content .s-tabnav{
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 5px;
}
.s-content button{
    background-color:#747cf3;
}
.s-content .s-search{
    background-color: #fff;
    padding: 0;
}
.s-content .s-search input{
    height: 30px;
    border: none;
    color: rgba(0,0,0,0.8);
}
/*给placeholder设置字体颜色*/
input::-webkit-input-placeholder {
    color: rgba(0,0,0,0.2);
}
.s-content .s-search button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.s-content .table,
.s-content .table .thead-light th{
    color: #6c757d;
    background-color: #fff;
}
.custom-file-input:disabled ~ .custom-file-label {
  background-color: #fff !important;
}
.s-search i{
    color: rgba(0,0,0,0.5);
    padding: 0 10px;
}